<h6 id="greeting">Category: <%= link_to @item.category.name, category_path(@item.category) %></h6>
<h1 id="greeting"><%= @item.title %></h1>
<h5 id="greeting"><%= @item.subtitle %></h5>
<h5 id="greeting"><%= @item.price %></h5>
<img id="item_picture" src="<%= @item.picture_url %>" alt="<%= @item.title %>" />

<div style="float:right">
<h4 id="greeting"><%= @headline %></h4>
<% if @reviews.empty? %>
  <p id="greeting">No reviews yet!</p>
<% else %>
  <ul id="review_list">
    <% @reviews.each_with_index do |review, index| %>
      <li id="review-<%= index %>">
        Rating: <%= review.rating %>
        <% if review.user == current_user %>
        <div class = "divider" style="float: right; width: 50px">
          <%= button_to "Edit", edit_item_review_path(@item, review),
            class: "button", method: :get
          %>
        </div>
        <div class = "divider" style="float: right; width: 70px">
            <%= button_to "Delete", item_review_path(@item, review),
              method: :delete, class: "alert button"
            %>
        </div>
        <% end %>
        <ul>
          <li style="white-space:pre-wrap; width:60ex">Description: <%= review.description %></li>
          <li class="review-rating" id="review-rating-<%= review.id %>">Review rating: <%= review.net_rating %></li>
          <li>
            Vote on this review:
            <%= link_to image_tag("https://s3.amazonaws.com/ikea-reviews/uploads/votes/thumbs_up.png"),
              votes_upvote_path(review_id: review.id),
              class: "vote_change upvote-#{index}",
              ajax_path: ajax_upvote_path(review_id: review.id)
            %>
            <%= link_to image_tag("https://s3.amazonaws.com/ikea-reviews/uploads/votes/thumbs_down.png"),
              votes_downvote_path(review_id: review.id),
              class: "vote_change downvote-#{index}",
              ajax_path: ajax_downvote_path(review_id: review.id)
            %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>

<%= paginate @reviews %>

<% unless current_user.nil? || user_reviewed? %>
  <div style="float:left">
    <h4 id="greeting">We'd love your review of the <%= @item.title %>!</h4>

    <%= form_for [@item, @review] do |f| %>
      <%= f.label :rating, "Rating:" %>
      <%= f.select :rating, options_for_select(@rating_options) %>

      <%= f.label :description, "Your Review:" %>
      <%= f.text_area :description %>
      <%= f.submit "Submit", class: "button" %>
    <% end %>
  </div>
<% end %>
